* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Plus Jakarta Sans'
}   


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

